<!DOCTYPE html>
<html><head>
<meta charset="UTF-8">
<title>Ошибка</title>
    <link rel="icon" href="/static/image/icon.png">
    <meta http-equiv="Cache-Control" content="no-cache">
  <link rel="stylesheet" type="text/css" href="/static/css/error_page.css">
</head>

<body>
<div class="error-container">
    <div class="error-message">Произошла ошибка</div>
    <div class="error-details">
        {{error_message}}
    </div>
    <div class="button-container">
        <a href="/restaurant/restaurant_main_page.html" class="home-button">Вернуться на главное меню</a>
    </div>
</div>
</body>
</html>