<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет - Харчевня Басуха</title>
    <link rel="icon" href="/static/image/icon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/restaurant/personal_account.css">
</head>
<body>

    <!-- Шапка -->
    <header>
        <h1>Личный кабинет</h1>
        <p>Добро пожаловать, {{ username }}!</p>
        <div class="button">
            <button type="submit" class="btn_logout" onclick="logout(event)">Выйти</button>
            <button type="submit" class="btn_on_main_page" onclick="go_to_main_page()">На главную</button>
        </div>
    </header>

    <!-- Навигация -->
    <nav>
        <a href="#profile">Профиль</a>
        <a href="#orders">Мои заказы</a>
    </nav>

    <!-- Профиль -->
    <section id="profile">
        <h2>Профиль</h2>
        <p>Имя: {{ user.user_name }}</p>
        <p>Email: {{ user.email_address }}</p>
        <button type="submit" class="btn_change_password" onclick="change_password()">изменить пароль</button>
    </section>

    <!-- Мои заказы -->
    <section id="orders">
        <h2>Мои заказы</h2>
        <div class="orders-container">
            {% for order in orders %}
            <div class="order-item">
                <p>Дата: {{ order.user_table_association.order_time }}</p>
                <p>Кол-во гостей: {{order.user_table_association.guest_amount}} </p>
                <p>Номер столика: {{order.user_table_association.table_id}} </p>
                <button type="submit" class="btn_on_main_page" onclick="cancel_booking()"> отменить бронирование</button>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Подвал -->
    <footer>
        <p>&copy; 2024-2025 Харчевня Басуха. Все права защищены.</p>
    </footer>

    <script src="/static/js/restaurant/personal_account.js"></script>
</body>
</html>