<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Добро пожаловать</title>
    <link rel="icon" type="image/png" href="/static/image/icon.png">
    <link rel="stylesheet" type="text/css" href="/static/css/restaurant/start_page.css">
</head>
<body>
<div class="welcome-container">
    <div class="logo">👋 Добро пожаловать!</div>
    <div class="welcome-message">
        Сайт ресторана харчевня Бахуса !!!
    </div>
    <button class="btn btn-continue" onclick="authenticate()">Продолжить</button>
</div>
<script src="/static/js/restaurant/start_page.js"> </script>
</body>
</html>